
.container{
    display: grid;    
    justify-content: center;
}

.card {
    width: 96vw;
    background-color: white;
    margin: 3rem auto 0;

    &__button {
        width: 20vw;
    }

    &:last-of-type {
        margin-bottom: 1rem;
    }

    @media screen {
        max-width: 660px;
        padding: 2rem;    
    }
}
