@import './components/card-form/card-form.component.scss';

.container{
    display: grid;    
    justify-content: center;
}

.card {
    &__button {
        width: 20vw;
    }

    &:last-of-type {
        margin-bottom: 1rem;
    }

}

