@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'palette.scss';
@import 'home.scss';

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
    background: $bg-default;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container{
    height: 100%;
    display: grid;    
    justify-content: center;
    padding: 3rem;
}

.card {
    width: 96vw;

    @media screen {
        max-width: 660px;
        padding: 1rem;    
    }
}