@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'theme';

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
    background: $bg-default;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

mat-radio-group {
    display: grid;
    flex-direction: column;
}